body {
  background-color: orangered;
}

.fiveDaysHeadline {
  color: white;
  width: 20rem;
  height: 3rem;
  font-family: Gugi;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
}

.fiveDaysContainer {
  display: flex;
  margin: 0 auto;
  /* background-color: aqua; */
}

.listContainer {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);

  align-items: center;
  text-align: center;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
}

.fiveDaysDate {
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  opacity: 100% !important;
}

.fiveDaysTemp {
  color: #f5be2f;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
}
