body {
  background-image: url(../images/Artist_s_impression_of_Mars.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.fiveDaysHeadline {
  color: white;
  width: 35vw;
  height: 6vh;
  margin-top: 5vh;
  margin-bottom: 0.3vh;
  font-family: Gugi;
  font-weight: normal;
  font-size: 2vw;
  display: flex;
  padding-left: 20%;
  align-items: center;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
}

.fiveDaysContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.listContainer {
  list-style: none;
  text-align: center;
  padding-right: 2.6vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  flex-basis: 20vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.fiveDaysDate {
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
}

.fiveDaysTemp {
  color: #f5be2f;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
}
