.containsTodayWeatherAndLog {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.todayWeatherContainer {
  background-color: rgba(0, 0, 0, 0.3);
  /* margin-left: 2vw; */
  margin-top: 2vh;
  /* width: 30vw;
  height: 50vh; */
  /* color: white; */
  border-radius: 5px;
  border: 4px;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  box-shadow: 0px 19px 37px 8px #580606,
    0px 0px 41px 6px rgba(245, 190, 47, 0.7);
  filter: drop-shadow(0px 4px 4px #ededed);
  flex-basis: 50vh;
  flex-basis: 30vw;
}

.todayWeatherListItem {
  list-style: none;
}

.weatherLocation {
  text-align: center;
  text-shadow: 0px 4px 4px #000000;
  font-family: Gugi;
  font-size: 2.3em;
  margin-top: 2vh;
  color: white;
}

.season {
  text-align: center;
  text-shadow: 0px 4px 4px #000000;
  font-family: Lato;
  /* font-weight: bold; */
  font-size: 2em;
  color: white;
}

.likeDate {
  text-align: center;
  text-shadow: 0px 4px 4px #000000;
  font-family: Lato;
  font-weight: b;
  font-size: 1.5em;
  color: white;
}

.temp {
  text-align: center;
  text-shadow: 0px 4px 4px #000000;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.8em;
  color: #f5be2f;
}

.quatschData {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logoContainer {
  background-color: aqua;
  /* flex-basis: 50vh; */
  flex-basis: 50vw;
}
