
.appContainerLight {
  background-image: url(./images/Artist_s_impression_of_Mars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.appContainerDark{
  background-image: url(./images/mars-dark-mode-background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


body{
  margin: 0;
}